*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(234, 229, 229);
}
.contaiter{
    width: 1000px;
    height: 200px;
    margin: 0 auto;
    background-color: rgb(3, 95, 87);
    display: flex;
    justify-content: space-around;
}
.contaiter1,
.contaiter2,
.contaiter3{
    width: 200px;
    height: 100%;

}
h4{
    padding: 30px 0; 
}
ul li{
    list-style-position: inside;
    padding-left: 30px;
} 
.ra1,
.ra4{
    width: 40px;
    height: 40px;
    background-color: rgb(27, 171, 228);
    display: flex;
    justify-content: center;
    align-items: center;
}
.ra2{
    width: 40px;
    height: 40px;
    background-color: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ra3{
    width: 40px;
    height: 40px;
    background-color: rgb(5, 34, 80);
    display: flex;
    justify-content: center;
    align-items: center;
}
.contaiter4{
    display: flex;
    justify-content: flex-start;
    padding-left: 35px;
}